<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="GitHub" value="https://nuget.pkg.github.com/IvanR013/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <GitHub>
      <add key="Username" value="IvanR013" />
      <add key="ClearTextPassword" value="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" />
    </GitHub>
  </packageSourceCredentials>
</configuration>
